<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fixed top navbar example for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-top-fixed/">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

      <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      
      <!-- Javascript -->
      <script src = "{{url_for('static', filename='datalist.js')}}"></script>
   
  </head>

  <body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dataoverview/">Data Overview</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/dispatch_predictor/">Dispatch Predictor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dispatch_timing/">Dispatch Timing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/zipcodes/">Safety of Zipcodes</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container"> 
      <div class="jumbotron">
      <div class = "ui-widget">
<form method="post" action ="/dispatch_predictor/submit/">
	<br>
	<br>
        <h1 align = "center">Dispatch Predictor</h1>
	<br>
	<br>
      <br>
        <label for = "automplete-1">Address: </label>
	 <br>
         <input id = "address" name = "address">
	 <br>
	 <br>
	 <br>
        <label for = "time">Time (Format: HH:MM:SS in military time, i.e. 11:05:52 PM would be entered as "23:05:52") </label>
	<br>
         <input id = "time" name = "time">
	<br>
	<br>
	<br>
	 <p align = "center"><input type = "submit" value="Generate"></p>
</form>
<h3 align = "center"> The following closest dispatches were found for {{address}} near {{time}}: </h3>
<br>
<ol type="1">
<li>
<h3>A dispatch was made for: {{dispatch1}}</h3>
</li>
<li>
<h3>A dispatch was made for: {{dispatch2}}</h3>
</li>
<li>
<h3>A dispatch was made for: {{dispatch3}}</h3>
</li>
<li>
<h3>A dispatch was made for: {{dispatch4}}</h3>
</li>
<li>
<h3>A dispatch was made for: {{dispatch5}}</h3>
</li>
<br>
<br>
<h3>In total, we uncovered {{number_of_dispatches}} relevant dispatches that were made in close proximity to the data you entered. Therefore, we estimate that one likely possibility for the type of dispatch required for the data you entered is: <strong>{{most_frequent_dispatch}} </strong></h3>
      </div>
      </div>
    </div>

  </body>
</html>
